<div class="card widget-table">
  <div class="flex items-center justify-between mb-4">
    <div class="font-semibold text-xl mb-4">Lista de Produtos</div>
    <p-button type="button" iconPos="right" icon="pi pi-plus" label="Novo" (click)="cadastrarProduto()"/>
  </div>
  <p-table
    #dt
    [lazy]="true"
    [first]="page.pageable.offset"
    [value]="produtos" 
    (onPage)="loadPage($event)"
    dataKey="id" 
    [totalRecords]="page.totalElements"
    class="p-datatable-customers" 
    [rowHover]="true" 
    [rows]="page.pageable.pageSize"
    size="small"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [showCurrentPageReport]="true"
    (onSort)="customSort($event)"
    currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} entradas"
    >

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nome">
          <div class="flex items-center gap-2">
            Nome 
            <p-sortIcon field="nome"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="preco">
          <div class="flex items-center gap-2">
            Preço 
            <p-sortIcon field="preco"></p-sortIcon>    
          </div>
        </th>
        <th pSortableColumn="quantidadeEstoque">
          <div class="flex items-center gap-2">
            Em Estoque 
            <p-sortIcon field="quantidadeEstoque"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="categoria">
          <div class="flex items-center gap-2">
          Categoria 
          <p-sortIcon field="categoria"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="status">
          <div class="flex items-center gap-2">
            Ativo/Inativo 
            <p-sortIcon field="status"></p-sortIcon>
          </div>
        </th>
        <th>
          <div class="flex items-center gap-2">
            Ações
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-produto>
        <tr>
            <td style="min-width: 10rem">
                <span class="flex gap-2">
                    <img [src]="produto.photoView" width="35" class="rounded-full" />
                    <span class="image-text" style="margin-left: 0.5em; align-content: center;"
                        >{{ produto.nome }}
                    </span>
                </span>
            </td>
            <td style="min-width: 9rem">
              <span class="image-text" style="margin-left: 0.5em; align-content: centers; ">
                R$ {{ produto.preco}}
              </span>
            </td>
            <td style="min-width: 9rem">
              {{produto.quantidadeEstoque}}
            </td>
            <td style="min-width: 9rem">
              {{ produto.categoria }}
            </td>
            <td style="min-width: 9rem">
              {{ produto.status ? 'Ativo' : 'Inativo' }}
            </td>
            <td style="width: 9rem">
              <button pButton text icon="pi pi-pencil" class="!w-6 !h-6 mr-2" (click)="editarProduto(produto)"></button>
              <button pButton text icon="pi pi-trash" class="!w-6 !h-6" (click)="onDialogDeleteShow(produto)"></button>
            </td>
      </tr>
    </ng-template>

    </p-table>
</div>

<p-dialog
  [(visible)]="dialogDeleteVisible"
  (onHide)="onDialogDeleteHide()"
  [closable]="true"
  header="Confirmação de exclusão"
  [modal]="true"
  styleClass="mx-4 sm:mx-0 sm:w-full md:w-8/12 lg:w-6/12"
  contentStyleClass="rounded-b border-t border-surface-200 dark:border-surface-700 p-0"
>
<div class="flex items-center gap-4 mt-6">
  <i class="pi pi-exclamation-triangle !text-3xl"></i>
  <div>
    <span>Tem certeza que deseja excluir este produto?</span>
  </div>
</div>
<div class="flex items-center gap-4 mt-6">
  <div>
    <span class="image-text" style="margin-left: 0.5em; vertical-align: middle;">
      {{ produtoSelecionado.nome | uppercase }}
    </span>
  </div>
</div>
<ng-template #footer>
  <p-button label="Não" icon="pi pi-times" text (onClick)="dialogDeleteVisible = false" />
  <p-button label="Sim" icon="pi pi-check" text (onClick)="excluirProduto()" />
</ng-template>
</p-dialog>