<div>
    <div class="w-full flex-col">
        <p-fieldset class="flex-col" legend="Upload de Foto">
            <div *ngIf="photoView" class="card flex flex-col gap-2 items-center">
            <span class="font-semibold">Preview de Foto</span>
             
            <p-image preview [src]="photoView" alt="Foto do Membro" [width]="'100'"/>
            </div>
            <div class="flex gap-4 justify-center">
            <input #fileInput hidden type="file" icon="pi pi-upload"  (change)="fileChangeEvent($event)" />
            <p-button label="Escolher Foto" icon="pi pi-upload" class="p-button-outlined" (onClick)="fileInput.click()"></p-button>
            <p-button icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" [disabled]="desabilitado()" 
            (onClick)="cleanImage()"/>
            </div>
        </p-fieldset>
    </div>
    
   
    <p-dialog header="Cortar imagem" [(visible)]="cropperVisible" [modal]="true" [closable]="true" [style]="{ height: '700px', width: '500px' }">
        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            (imageLoaded)="imageLoaded($event)"
            [aspectRatio]="1/1"
            clearButtonsVisibility="visible"
            (imageCropped)="imageCropped($event)">
        </image-cropper>
        <ng-template #footer>
            <p-button label="Cancelar" text (click)="cleanImage()"></p-button>
            <p-button label="Confirmar" (click)="confirmCrop()"></p-button>
        </ng-template>
    </p-dialog>
</div>